<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>detail Page</h1>
    <h2>Name : {{student.name}}</h2>
    <ul>
        <li>Email : {{student.email}}</li>
        <li>Birthday : {{student.birthday}}</li>
        <li>Age : {{student.age}}</li>
    </ul>
    <a href="/posts/">list</a>
    <a href="delete/">delete</a>
    <a href="edit/">update</a>
    <a href="write/">write</a>
</body>
</html>