{% extends 'base.html' %}
{% block container %}

<h1>Post List</h1>
{% for post in posts %}

{% include 'posts/_post.html' %}

{% endfor %}

<script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(function(button){
        button.addEventListener('click',function(e){
            const postId = e.target.dataset.id;
            console.log(e);   
            axios.get(`/posts/${postId}/like/`)
                    .then(function(response){
                        document.querySelector(`#like-count-${postId}`).innerText = `${response.data.count}`;
                        if(response.data.liked) //response.data = {liked: true}
                        {
                            e.target.classList.remove('far'); 
                            e.target.classList.add('fas');
                        }
                        else
                        {
                            e.target.classList.remove('fas'); 
                            e.target.classList.add('far');
                        }
                        
                    })
        });
    });
    const commentForms = document.querySelectorAll('.comment-form');
    commentForms.forEach(function(form){
        form.addEventListener('submit', function(e){
            e.preventDefault();
            console.log(e);
            // e.target === form
            const data = new FormData(e.target);
            for (const item of data.entries()){
                //console.log(item);
            }
            axios.post(e.target.action,data)
                .then(function(response){
                    const comment = response.data;
                    
                    const commentList = document.querySelector(`#comment-list-${comment.postId}`);
                    
                    const newComment = `<div class="card-text">
                        <strong>@${comment.username}</strong>  | ${comment.content}
                        <a href ="/posts/${comment.postId}/comment/${comment.id}/delete/">삭제</a>
                        </div>`
                    commentList.insertAdjacentHTML('beforeend',newComment);
                    e.target.reset();
                })
        })
    });
</script>

{% endblock %}