<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% if user.is_authenticated %}
        <h1>
            나는 {{user.username}}!
            <a href="{% url 'accounts:logout' %}">LogOut</a>
        </h1>
    {% else %}
        <h1>
            <a href="{% url 'accounts:login' %}">LogIn</a>
            <a href="{% url 'accounts:signup' %}">SignUp</a>
        </h1>
    {% endif %}
    
    
    {% block container %}{% endblock %}
</body>
</html>