{% extends 'base_index.html' %}
{% block content %}
    <div class='container'>
        <form action = '{% url 'files:create_movie' %}' method = 'POST' enctype='multipart/form-data'>
            {% csrf_token %}
          <div class="form-group">
            <label for="movie_name_kr">Movie title Korean</label>
            <input type="text" class="form-control" name ='title_kr' aria-describedby="movie kr">
            <label for="movie_name_en">Movie title English</label>
            <input type="text" class="form-control" name ='title_en' aria-describedby="movie en">
            <label for="movie_spectators">Cumulative Spectators</label>
            <input type="number" class="form-control" name ='spectators' aria-describedby="Cumulative Spectators">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" name ='summary' aria-describedby="summary">
            <label for="info_url">Information URL</label>
            <input type="text" class="form-control" name ='info_url' aria-describedby="movie info">
            <label for="score">Score</label>
            <input type="number" step="0.01" class="form-control" name ='score' aria-describedby="Score">
            <label for="Genre">Genre</label>
            <select class="form-control" name='genre'>
              <option>드라마</option>
              <option>판타지</option>
              <option>액션</option>
              <option>애니메이션</option>
            </select>
            <label for="Poster">Poster</label>
            <input type="file" class="form-control-file" accept='image/*' name = 'poster' >
            <label for="picture1">Picture 1</label>
            <input type="file" class="form-control-file" accept='image/*' name = 'picture1'>
            <label for="picture2">Picture 2</label>
            <input type="file" class="form-control-file" accept='image/*' name = 'picture2' >
            <label for="picture3">Picture 3</label>
            <input type="file" class="form-control-file" accept='image/*' name = 'picture3'>
 
            
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}